{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_index.css' %}">
    <title>Example</title>
  </head>
  <body class="background_image">

    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    
    <!-- End Example Code -->

    <div class="card_main">    
      <div class="card__">
        <h4 class="card-title"> Оружие</h4>
        <div class="panel"></div>
        <img src="{% static 'img/0c3476ef3679c695e0b592557d626b65.jpg' %}" alt="Card image cap">
      </div>
      <div class="card__">
        <h4 class="card-title"> Артефакты </h4>
        <div class="panel"></div>
        <img src="{% static 'img/3493083fbf3138d5619eced57603bd90.jpg' %}" alt="Card image cap">
      </div>
      <div class="card__">
        <h4 class="card-title"> Персонажи </h4>
        <div class="panel"></div>
        <img src="{% static 'img/9d9375ad81f8bfb70a68e58a4eb3848f.jpg' %}" alt="Card image cap">
      </div>
    </div>

    <div class="squad_container">
      <h1>Лучшие отряды</h1>
      <p>Здесь вы можете найти лучи отряды для своих персонажей.</p>
      <img class="pimon_sticker" src="{% static 'img/sticker_pimon.png' %}" alt="">
      <img class="squad_img" src="{% static 'img/squad.jpg' %}" alt="">
    </div>
    
    <script src="{% static 'js/main_index.js' %}"></script>
  </body>
</html>